<div class="flex flex-col w-1/2 h-screen items-center m-auto justify-center gap-4">
    <h1 class="text-3xl font-bold text-main-text py-4 mb-2 ml-0.5">Confirmar Datos</h1>
    <div class="flex flex-col gap-4 w-full">
        <div class="flex flex-col gap-2">
            <label for="rfc" class="block font-bold text-main-text ml-2">RFC</label>
            <input
                disabled="true"
                id="rfc"
                pInputText
                [(ngModel)]="rfc"
                name="rfc"
                placeholder="RFC del cliente"
                class="w-full !text-main-text placeholder:!text-description-text !py-2 !px-4 !border-2 !border-transparent !transition-all !rounded-2xl !bg-background-secondary"
            />
        </div>

        <div class="flex w-full">
            <div class="flex flex-col gap-2 w-1/2 mr-3">
                <label for="razonSocial" class="block font-bold text-main-text ml-2">Razon Social</label>
                <input
                    disabled="razonSocial"
                    id="razonSocial"
                    pInputText
                    [(ngModel)]="razonSocial"
                    name="razonSocial"
                    placeholder="Razon Social"
                    class="w-full !text-main-text placeholder:!text-description-text !py-2 !px-4 !border-2 !border-transparent !transition-all !rounded-2xl !bg-background-secondary"
                />
            </div>
            <div class="flex flex-col gap-2 w-1/2 ml-3">
                <label for="cp" class="block font-bold text-main-text ml-2">Codigo Postal</label>
                <input
                    disabled="true"
                    id="cp"
                    pInputText
                    [(ngModel)]="cp"
                    name="cp"
                    placeholder="codigo postal"
                    class="w-full !text-main-text placeholder:!text-description-text !py-2 !px-4 !border-2 !border-transparent !transition-all !rounded-2xl !bg-background-secondary"
                />
            </div>
        </div>


        <div class="flex flex-col gap-2">
            <label for="servicio" class="block font-bold text-main-text ml-2">Servicio Facturado</label>
            <input
                id="servicio"
                disabled="true"
                pInputText
                [(ngModel)]="servicio"
                name="servicio"
                placeholder="Servicio Facturado"
                class="w-full !text-main-text placeholder:!text-description-text !py-2 !px-4 !border-2 !border-transparent !transition-all !rounded-2xl !bg-background-secondary"
            />
        </div>
        <div class="flex w-full">
            <div class="flex flex-col gap-2 w-full mr-3">
                <label for="regimen" class="block font-bold text-main-text ml-2">Regimen Fiscal</label>
                <input
                    disabled="true"
                    id="regimen"
                    pInputText
                    [(ngModel)]="regimen"
                    name="regimen"
                    placeholder="Regimen Fiscal"
                    class="w-full !text-main-text placeholder:!text-description-text !py-2 !px-4 !border-2 !border-transparent !transition-all !rounded-2xl !bg-background-secondary"
                />
            </div>
        </div>
        <div class="flex justify-end mt-1">
            <button 
        (click)="avanzar()"
        [disabled]="loadingConfirm()"	
        type="button"
        class="flex text-center disabled:bg-primary/60 justify-center space-x-2 w-1/6 bg-primary text-main-text font-normal text-md rounded-2xl py-2 cursor-pointer hover:bg-primary/80 transition-all">
        @if (loadingConfirm()) {
          <mat-spinner diameter="25" color="#ff6262" />
          <span>Cargando...</span>
          } @else {
          <span>Siguiente</span>
          }
      </button>
          </div>
    </div>
</div>