<footer id="footer"
    class="bg-white/80 xl:h-8 fixed w-full bottom-0 shadow flex justify-center items-center px-5 xl:px-12 space-x-5 border-t-2 border-black">
    <div class="text-center">
        <div class="uppercase">
            <a class="text-blue-500 underline" href="http://www.sanmina.com/company-profile/legal-information/"
                target="_blank">
                <small>
                    <font>LEGAL INFORMATION</font>
                </small>
            </a>
            <small>
                <font color="red"> POWERED BY:</font> MEXICO RAPID INNOVATION LAB - {{currentYear}}
            </small>
            <a class="text-blue-500" href="http://www.sanmina.com/company-profile/safe-harbor-statement/" target="_blank">
                <small>
                    <u>SAFE
                        HARBOR
                        STATEMENT
                    </u>
                </small>
            </a>
        </div>
    </div>
</footer>