@use 'ngx-toastr/toastr';
@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F2F2F2 !important;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    @include mat.progress-spinner-overrides((active-indicator-color: #FFC756,));
}

.p-popover::before,
.p-popover::after {
    display: none !important;
}

::-webkit-scrollbar {
    width: .3%;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgb(212, 212, 212);
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    /* background: linear-gradient(to right top, #0088ff, #00b5ff, #00d7fd, #00f1a3, #5bff00);
    background: linear-gradient(to right top, #fb3656, #ff5545, #ff7134, #ff8d23, #ffa711);  */
    background: #FFC756;
}

::-webkit-scrollbar-thumb:active {
    background: #FFC756;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1rem;
    padding-right: 2.5rem !important;
  }  